<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chocolate Petition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css">
</head> 
<body>
        <h2> A petition to get 1kg chocolate for free every month.</h2>
        <h3>Initiated by Bettina Thies</h3>
            <div>
            {{#unless hideLogout}}
            {{>logout}}
            {{/unless}}
            </div>
    {{{body}}}

</body>
</html>

