<h2> PLEASER log in </h2>
    <form method="POST">
    <div>
        <div class="login">
        <input id="email" name="email" placeholder="Email" value="{{email}}">
        <input id="password" name="password" type="password" placeholder="******">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="login">
            <button type="submit" class="button"> login</button>
            </div>
    </div>    
    </form>