<h2>Free chocolate for everyone</h2>
<p> Sign up for my petition to get 1kg chocolate for free every month</p>

<input name="first" placeholder="First name" value="{{first}}">
<input name="last" placeholder="Last name" value="{{last}}">
