<h2>Alle the signers in {{city}}</h2>

<p>We the undersigned demand 1kg chcolate for free per month for all german citizens</p>

<ul class="signers">
    {{#names}}
        <li>
            {{first}} {{last}}, {{age}}
        </li>
    {{/names}}
</ul>