<h2>Thank you for signing my petition</h2>

<p>Thank you for your signature</p>

<img src={{sig}}>

<div>
    <a href="/signers">see all singers of the petition</a>
</div>
<div>
    <a href="/edit">edit your profile</a>
</div>
<div>
    <a href="/unsigned">delete my signature</a>
</div>