<h2>Thank you for signing my petition</h2>

<p>Thank you for your signature</p>
<div class="background">
    <img src={{sig}}>
</div>

    <form method="POST">
        <button id="delete-signature" name="button">DELETE MY SIGNATURE</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>