<div class="largeTexts">
    <h2>Chocolate Enthusiast Profile</h2>
</div>
<form method="POST" class="form">

    <div><h3>Please let us know more about you!</h3> </div>
    <input id="age" name="age" placeholder="age">
    <input id="city" name="city" placeholder="city">
    <input id="url" name="url" placeholder="url">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" class="button"> Submit</button>

</form>