/*the main css of the website*/
body{
    background-image: url("yoori-koo-51878-unsplash.jpg");
    background-size: cover;
    background-position: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.headline{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}
.image-back{
    background-position: center
}
.form{
    display: flex;
    flex-direction: column;
    width: 250px; 
    height: 150px; 
    justify-content: flex-start
}
input{
    margin-bottom: 5px;
    margin-left: 20px;
}
button{
    margin-left: 20px;
}
.nav{
    display: flex;
    justify-content: flex-start;
}

canvas{
    border: 2px dotted #000000;
    margin-bottom:5px; 
}
.signup{
    display: inline-block;
}

strong{
    color:brown;
}
#logout-box{
    display: flex;
    justify-content: center;
    height: 50px;
}
#nav-button{
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 30px; 
    padding: 6px; 
    margin-right: 5px;
    border-radius: 4px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color:brown;
    height: 30px;
}
.unsigned{
    width: 200px;
    height: 80%;
    border:2px brown;
}
.background{
    background-color: white;
    width:600px;
}
#delete-signature{
    background-color: brown;
    width: 220px;
    margin: 10px;
    color: white;
}