/*the main css of the website*/
body{
    background-color: chocolate
}

h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: bold; 
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
canvas{
    border: 2px dotted #000000;
}
.signup{
    display: inline-block;
}
strong{
    color: #7F177B;;
}
.logout{
       color: rgb(255, 255, 255); 
       font-size: 30px; 
       line-height: 30px; 
       padding: 6px; 
       border-radius: 10px; 
       font-family: Verdana, Geneva, Tahoma, sans-serif; 
       font-weight: normal; 
       text-decoration: none; 
       font-style: normal; 
       font-variant: normal; 
       text-transform: none; 
       background-image: #7F177B;
       border: 2px solid rgb(35, 3, 87); 
       display: inline-block;}
}